DB_DRIVER=""
DB_SERVER=""
DB_USER=""
DB_PASSWORD=""
DB_DATABASE=""
DB_SCHEMA=""
DB_TABLE_PREFIX=""
DB_PORT=""
SECURITY_KEY=""

# Set this to the `entryUrl` param in the `codeception.yml` file.
DEFAULT_SITE_URL="https://craft-s3securedownloads.ddev.site"
